
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: rgb(189, 188, 196);
  padding: .6em 0;
  color: rgb(241, 204, 204);
  margin: 0;
}
